

body{
    /*transparentBackground--
    --neatOrganization--
    --maininput+infoAndDescription*/
    background-color:rgb(255, 255, 255);

}

footer{
    /*--blackBackground--
    --columnsOfInformation--*/

    background-color:rgb(10, 10, 10);
    color: rgb(255, 255, 255);
}

.top{
    display:flex;
    flex-direction: row;
    margin:auto;
}

.nav{
    display: flex;
    flex-direction:row;

    background-color: rgb(127, 127, 127);
}

.preview{
    display: flex;
    flex-direction:column;
}

.right{
    display: flex;
    flex-direction:column;
}
.navigation{
    font-size:16px;
    margin: 20px;
    border: 2px solid black
    
}

.UI{
    display: flex;
    flex-direction:row;
}